.aboutus {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    .showoff {
        width: 100%;
        height: 500px;
        position: relative;
        border-radius: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .boxes {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .description {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #B8B8B8;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1 {
                margin-bottom: 5px;
            }
            p {
                font-weight: bolder;
                font-size: 18px;
            }
        }
        .right {
            img {
                width: 300px;
            }
        }
    }
}