.dark-matter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(99, 99, 99, 0.4);
    backdrop-filter: blur(2px);
    z-index: 100;
    .new-checklist {
        background-color: white;
        padding: 20px 25px;
        border-radius: 10px;
        width: 450px;
        .top {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 35px;
                transform: rotate(45deg);
                cursor: pointer;
            }
        }
        .bottom {
            display: flex;
            >* {
                width: 100%;
            }
            >input[type="text"] {
                margin-bottom: 20px;
                outline: none;
                border-radius: 10px;
                padding: 15px;
                font-size: 20px;
                border: 1px solid #B8B8B8;
            }
            >input[type="submit"] {
                outline: none;
                border-radius: 10px;
                padding: 15px 0;
                border: none;
                background-color: #56E224;
                color: white;
                font-size: 25px;
                font-weight: bold;
                cursor: pointer;
            }
            flex-direction: column;
        }
    }
}